html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.news-grid .mvc-grid {
    border: none;
    box-shadow: none;
}

    .news-grid .mvc-grid table {
        border: none;
        box-shadow: none;
    }

    .news-grid .mvc-grid th, .news-grid .mvc-grid td {
        border: none;
        box-shadow: none;
    }

    .news-grid .mvc-grid .mvc-grid-table {
        border-collapse: collapse;
    }

    .news-grid .mvc-grid .mvc-grid-header,
    .news-grid .mvc-grid .mvc-grid-footer {
        display: none;
    }

.news-image {
    height: auto;
    max-height: 70%; 
    max-width: 70%;
    object-fit: cover;
}

.news-card-column {
    background-color: white !important;
}

.action-icon {
    font-size: 18px;
}