@model FlowReader.Application.Models.FeedResponseModel

@{
    ViewData["Title"] = "Feed";
}

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for=UserTitle class="control-label">Title</label>
        <input asp-for="UserTitle" class="form-control" />
        <span asp-validation-for="UserTitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" disabled />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Link" class="control-label"></label>
        <input asp-for="Link" class="form-control" disabled />
        <span asp-validation-for="Link" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="@(Context.User.IsInRole("Admin") ? "Public" : "Index")">Back to List</a>
</div>
