@using Microsoft.AspNetCore.Html
@using NonFactors.Mvc.Grid;

@model IEnumerable<FlowReader.Application.Models.FeedResponseModel>
@{
    ViewData["Title"] = "Feeds";
}

<p>
    <a asp-action="Create">Add New</a>
</p>
@(
Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.UserTitle).Titled("Title");
        columns.Add(model => model.Description).Titled("Description");
        columns.Add(model => model.Link).Titled("Link");
        columns.Add(model => model.PublishingDate).Titled("PublishingDate").Formatted("{0:d}");

        columns.Add(model => model.Id).Titled("").Encoded(false).RenderedAs(model => new HtmlString(
            $"<a href=\"/Feed/Edit/{model.Id}\">Edit</a> " +
            $"<a href=\"/Feed/Delete/{model.Id}\">Delete</a>"));   
    })
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
)
