@using Microsoft.AspNetCore.Html
@using NonFactors.Mvc.Grid;

@model IEnumerable<FlowReader.Application.Models.CategoryResponseModel>
@{
    ViewData["Title"] = "Categories";
}

<p>
    <a asp-action="Create">Add New</a>
</p>
@(
Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Code).Titled("Code");
        columns.Add(model => model.Name).Titled("Name");

        columns.Add(model => model.Id).Titled("").Encoded(false).RenderedAs(model => new HtmlString(
            $"<a href=\"/Category/Edit/{model.Id}\" class=\"btn btn-sm mr-2\" data-toggle=\"tooltip\" title=\"Edit\"><i class=\"bi bi-pencil-square action-icon\"></i></a>" +
            $"<a href=\"/Category/Delete/{model.Id}\" class=\"btn btn-sm\" data-toggle=\"tooltip\" title=\"Delete\"><i class=\"bi bi-trash action-icon\"></i></a>"));
    })
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
)
